/* PROGRESS PAGE SPECIFIC STYLES */

/* -------------------  MOBILE  --------------------- */
header {
  background-image: url('../images/red-space.jpg');
}

main#two-columns {
    margin: 50px 0;
    display: flex;
}

main#two-columns section {
    max-width: 50vw;
}

section#accelerate button {
    height: 300px;
    width: 300px;
    margin: 30px auto;
    border-radius: 180%;
    background-color: green;
    border-color: rgb(14, 166, 6);
    cursor: pointer;
}
main #leaderBoard {
  width: 100%;
}
main #leaderBoard main {
  display: flex;
}
main #leaderBoard #leaderBoardSection {
  max-width: 100% !important;
}
main #leaderBoard main section {
  max-width: 50%;
  padding: 0 20px;
}
main #raceTracks {
  display: flex;
  justify-content: space-evenly;
  border-left: 1px solid #444444
}
main #raceTracks .posPod {
  margin: 0 10px;
  padding: 0 10px;
  border-right: 1px solid #444444;
  position: relative;
}
main #raceTracks .posPod .thePod {
  width: 10px;
  height: 20px;
  border-radius: 3px;
  background: red;
  position: absolute;
  right: 50%;
}

#big-numbers {
    font-weight: bolder;
    font-size: 70px;
}

/* -------------------  TABLET  --------------------- */
@media (min-width: 768px) {

}

/* -------------------  DESKTOP  -------------------- */

@media (min-width: 1224px) {
}

/* -------------------  LARGE SCREENS  -------------- */

@media (min-width: 1824px) {
}
